html, body {
  height: 100%;
  margin: 0;
}


body {
  font-family: sans-serif;
  font-size: 13px;
}


a {
  color: #0088cc;
  text-decoration: none;
}


a:hover,
a:focus {
  color: #005580;
  text-decoration: underline;
}


.piine-view {
  height: 100%;
  background-color: hsl(0, 0%, 95%);
  transition-property: background-color;
  transition-duration: 0.2s;
}


.piine-view-light {
  background-color: hsl(42, 57%, 58%);
}


.piine-btn {
  height: 80%;
  font-family: 'Sansita One', cursive;
  font-size: 600%;
  text-align: center;
  color: #ddd;
  transition-property: color, text-shadow;
  transition-duration: 0.2s;
}


.piine-btn-light {
  color: #fff;
  text-shadow: 0 0 10px hsla(0, 0%, 100%, 1);
}


.info {
  height: 20%;
  letter-spacing: 1px;
  font-family: 'Oxygen', sans-serif;
  text-align: center;
  opacity: 0.4;
}


img.profile-icon {
  vertical-align: middle;
}
